@import "main";
.marker-detail-wrapper {
  padding: 22px 0 60px;
  @include bp(smd-max) {
    padding: 20px 0 110px;
  }
  @include bp(sm-max) {
    padding: 20px 0 95px;
  }
  .heading-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    h2 {
      padding-right: 20px;
    }
  }
  
  .box-wrapper {
    margin-top: 50px;
    width: 50%;
    @include bp(lg-max) {
      margin-top: 40px;
    }
    @include bp(smd-max) {
      margin-top: 30px;
      
    }
    @include bp(sm-max) {
      margin-top: 20px;
      width: 100%;
    }
  }
  .bottom-fix-bar {
    margin-top: 50px;
    @include bp(lg-max) {
      margin-top: 40px;
    }
    @include bp(smd-max) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px 15px;
      background: rgba($black, 0.7);
      margin: 0;
    }
    .bottom-btn-list {
      @include bp(smd-max) {
        justify-content: space-between;
        li{
            &:first-child {
                order: 2;
            }
            &:last-child {
                order: 1;
            }
        }
        .btn {
          &.border-btn {
            border-color: $white;

            &:hover {
              border-color: $black;
            }
          }
        }
      }
    }
  }
}
.box-wrapper {
  ul {
    border: 1px solid $off_white;

    li {
      + li {
        border-top: 1px solid $off_white;
      }
      .box-detail {
        display: flex;
        justify-content: center;
        text-align: center;
      }

      h4 {
        font-size: 18px;
        line-height: 22px;
        color: $gray;
        font-weight: 400;
        max-width: 50%;
        flex: 0 0 50%;
        padding: 15px;
        background: rgba($black, 0.1);
        border-right: 1px solid $off_white;
        @include bp(smd-max) {
          font-size: 16px;
          line-height: 20px;
          padding: 10px;
        }
      }
      p {
        color: $black;
        font-size: 20px;
        line-height: 24px;
        padding: 15px;
        max-width: 50%;
        flex: 0 0 50%;
        @include bp(smd-max) {
          font-size: 16px;
          line-height: 20px;
          padding: 10px;
        }
      }
    }
  }
}
