<div class="balecapture-success-wrapper">
    <div class="modal-heading">
        <h3>Success</h3>
        <a (click)="goToBalecapture()" title="Close"><img src="assets/images/cross.svg" alt="cross"></a>

    </div>
    <div class="modal-content">
        <p>Bale Capture Has Been Submitted Successfully.</p>
        <ul class="bottom-btn-list">
            <li>
                <a (click)="goToBalecapture()" title="Ok" class="btn lg blue-btn">Ok</a>
            </li>
        </ul>
    </div>
</div>