<footer class="site-footer" #footer>
	<div class="top-footer">
		<div class="container">
			<div class="footer-widget-wrapper">
				<div class="footer-widget">
					<div class="footer-link-title">{{labels?.website}}</div>
					<ul>
						<li>
							<a routerLink='/about' title="About">{{labels?.about}}</a>
						</li>
						<li>
							<a routerLink="/contact_us" title="Contact Us">{{labels?.contact_us}}</a>
						</li>
					</ul>
				</div>
				<div class="footer-widget">
					<div class="footer-link-title">{{labels?.help_support}}</div>
					<ul>
						<li>
							<a href="#" title="Help Screens">{{labels?.help_screens}}</a>
						</li>
						<li>
							<a routerLink="/faq" title="FAQs">{{labels?.faqs}}</a>
						</li>
					</ul>
				</div>
				<div class="footer-widget">
					<div class="footer-link-title">{{labels?.policies}}</div>
					<ul>
						<li>
							<a routerLink="/privacy_policy" title="Privacy Policy">{{labels?.privacy_policy}}</a>
						</li>
						<li>
							<a routerLink="/terms_of_use" title="Terms of Use">{{labels?.terms_of_use}}</a>
						</li>
					</ul>
				</div>
				<div class="footer-widget">
					<div class="footer-link-title">{{labels?.sharia_info}}</div>
					<ul>
						<li>
							<a routerLink="/qa" title="Q&A">{{labels?.q_a}}</a>
						</li>
						<li>
							<a routerLink="/guides" title="Guides">{{labels?.guides}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-footer">
		<div class="container">
			<div class="bottom-footer-wrapper">
				<div class="copy-right-block">
					<p>{{labels?.copy_rights}}</p>
				</div>
				<div class="footer-social-link-block">
					<ul>
						<li>{{labels?.find_us_on}}</li>
						<li>
							<a href="#" target="_blank" title="Twitter">
								<img src="./assets/images/twitter.svg" alt="Twitter">
							</a>
						</li>
						<li>
							<a href="#" target="_blank" title="Instagram">
								<img src="./assets/images/instagram.svg" alt="Instagram">
							</a>
						</li>
						<li>
							<a href="#" target="_blank" title="Facebook">
								<img src="./assets/images/facebook.svg" alt="Facebook">
							</a>
						</li>
						<li>
							<a href="#" target="_blank" title="Snapchat">
								<img src="./assets/images/snapchat.svg" alt="Snapchat">
							</a>
						</li>
						<li>
							<a href="#" target="_blank" title="Youtube">
								<img src="./assets/images/youtube.svg" alt="Youtube">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
