
.outer{
    text-align: center;
}

.bottom-btn-list{
  text-align:center;
}

.bottom-btn-list a {
  display: block;
  margin: 0 auto;
  /*width: 242px;
  height: 65px;
  line-height:60px;  <-- If you want the text centered, play with this value */
}