@import "./../../scss/main.scss";

::ng-deep .loader {
  & .overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.38);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  & .mat-progress-spinner circle,
  & .mat-spinner circle {
    stroke: $primary-blue;
  }
}
